.artist-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 20px;
}

.artist-box {
    display: block;
    position: relative;
    text-align: center;
    border: var(--standard-border);
    height: 0;
    padding-bottom: 100%;
    background-size: cover;
    margin-bottom: 40px;
}

.artist-name {
    margin: 0;
    position: absolute;
    bottom: -40px;
}

.artist-columns {
    display: flex;
}

.artist-column {
    flex: 1;
    padding: 5px;
}

.bio-image {
    width: 125px;
}