:root {
    --standard-border: solid 2px gray;
    --darker-border: solid 1px black;
    --color-primary: #eee;
}

* {
    font-family: monospace;
    color: #333;
    box-sizing: border-box;
}

.main-content {
    max-width: 800px;
    height: auto;
    margin: 0 auto !important;
}

header {
    display: flex;
    align-items: center;
    height: 160px;
    background-color: var(--color-primary);
    padding: 32px;
    border: var(--standard-border);
}

header h1,
header h3 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header h1 {
    letter-spacing: 4px;
    margin-bottom: 8px;
}

header .logo {
    width: 100px;
    margin-right: 32px;
}

.content {
    display: flex;
    flex-direction: row;
}

.content h2 {
    margin-top: 0;
    text-decoration: underline;
}

nav {
    display: flex;
    flex-direction: column;
    width: 120px;
    padding: 32px;
    border: var(--standard-border);
}

nav .folder {
    width: 40px;
    margin-bottom: 8px;
}

nav .folder-link {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1;
    padding: 32px;
    border: var(--standard-border);
}

main .event {
    margin-bottom: 16px;
    width: 400px;
    border: var(--darker-border);
}

main .event .event-header {
    display: flex;
    align-items: center;
    border: var(--darker-border);
    padding: 0 8px;
}

main .event .event-header h3 {
    flex: 1;
}

main .event .event-details {
    border: var(--darker-border);
    padding: 0 8px;
}

main .event .event-facebook-image {
    width: 24px;
}

main button {
    padding: 8px;
    /* user border var? */
    border: solid 2px black;
    cursor: pointer;
    background-color: var(--color-primary);
}

footer {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: var(--color-primary);
    border: var(--standard-border);
}

footer .spacer {
    flex: 1;
}

footer .footer-link {
    margin-right: 16px;
}

.visitors {
    text-align: center;
}

/* Trippy effect */

@keyframes trip-out {
    from { box-shadow: 1px 1px 0px #F00; }
    50%   { box-shadow: -1px 1px 0px #0F0; }
    to   { box-shadow: 1px -1px 0px #00F; }
}

.main-content,
.event {
    animation: 20s trip-out infinite alternate;
    /* box-shadow: 0px 0px 5px #ddd; */
}