* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    height: 200px;
    background-color: lightgray;
    padding: 32px;
}

header .logo {
    width: 100px;
    margin-right: 32px;
}

.content {
    display: flex;
    flex-direction: row
}

nav {
    background-color: red;
}

main {
    background-color: blue;
}