.artist-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media (max-width: 600px) {
    .artist-grid {
        grid-template-columns: 1fr;
    }
}

.artist-box {
    display: block;
    position: relative;
    text-align: center;
}

.artist-image {
    width: 100%;
    filter: grayscale(1);
    transition: filter 150ms ease;
    border: var(--standard-border);
}

.header-trippy {
    position: absolute;
    opacity: 0.5;
    top: 0;
    z-index: -1;
    animation: 20s moving-translate infinite;
}

@keyframes moving-translate {
    from { transform: translate(1px ,1px) }
    25%   { transform: translate(-1px, 1px) }
    50%   { transform: translate(-1px, -1px) }
    75%   { transform: translate(1px , -1px) }
    to   { transform: translate(1px , 1px) }
}

.artist-header {
    position: relative;
}

.artist-header h2 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 16px;
}

@media (max-width: 600px) {
    .artist-header h2 {
        text-align: center;
    }

    /* Center trippy header */
    .artist-header h2.header-trippy {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}

.artist-image:hover {
    filter: grayscale(0);
}

.artist-name {
    text-align: center;
}

.artist-columns {
    display: flex;
}

.artist-columns p {
    margin-top: 5px;
}

.artist-column {
    flex: 1;
    padding-right: 5px;
}

@media(max-width: 600px) {
    .artist-column {
        padding: 0;
    }
}

@media (max-width: 600px) {
    .artist-columns:last-of-type {
        display: block;
    }
}

.bio-image {
    margin-right: 10px;
    width: 125px;
}

.artist-image-instance-page {
    width: 60%;
    margin: 16px auto;
    border: var(--standard-border);
    display: none;
}

@media (max-width: 600px) {
    .artist-image-instance-page {
        display: block;
    }

    .bio-image {
        display: none;
    }
}

.social {
    position: relative;
    text-decoration: none;
}

.social img:nth-child(2) {
    width: 32px;
    transition: filter 150ms ease;
    filter: opacity(1);
    position: absolute;
    left: 0;
}

.social img:nth-child(2):hover {
    filter: opacity(0);
}

.social img:nth-child(1) {
    width: 32px;

}