.artist-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 20px;
}

@media (max-width: 600px) {
    .artist-grid {
        grid-template-columns: 1fr;
    }
}

.artist-box {
    display: block;
    position: relative;
    text-align: center;
    border: var(--standard-border);
    height: 0;
    padding-bottom: 100%;
    background-size: cover;
    margin-bottom: 40px;
    filter: grayscale(1);
    transition: filter 150ms ease;
}

.artist-box:hover {
    filter: grayscale(0);
}

.artist-name {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
}

.artist-columns {
    display: flex;
}

.artist-column {
    flex: 1;
    padding: 5px;
}

@media (max-width: 600px) {
    .artist-columns {
        display: block;
    }
}

.bio-image {
    width: 125px;
}

.social img {
    width: 32px;
}