@font-face {
    font-family: "berthold";
    src: url("berthold.otf");
}

:root {
    --standard-border: solid 2px gray;
    --darker-border: solid 1px black;
    --light-gray: #e7e7e7;
}

* {
    font-family: monospace;
    color: #333;
    box-sizing: border-box;
}

h1 {
    font-family: 'berthold';
}

.main-content {
    max-width: 800px;
    height: auto;
    margin: 16px auto 0 auto !important;
}

@media (max-width: 600px) {
    .main-content {
        width: 100vw;
    }
}

header {
    display: flex;
    align-items: center;
    height: 160px;
    background-color: var(--light-gray);
    padding: 32px;
    border: var(--standard-border);
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        height: inherit;
        text-align: center;
    }
}

header h1,
header h3 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header h1 {
    letter-spacing: 4px;
    margin-bottom: 8px;
}

header .logo {
    width: 100px;
    margin-right: 32px;
}

@media (max-width: 600px) {
    header .logo {
        margin-right: 0;
        margin-bottom: 8px;
    }
}

.content {
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
    .content {
        flex-direction: column;
    }
}

.content h2 {
    margin-top: 0;
    text-decoration: underline;
}

nav {
    display: flex;
    flex-direction: column;
    width: 120px;
    padding: 32px;
    border: var(--standard-border);
}

@media (max-width: 600px) {
    nav {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
}

nav .folder {
    width: 50px;
    height: 35px;
    margin-bottom: 8px;
    background-image: url("../images/folder.png");
}

nav .folder-link.active .folder {
    background-image: url("../images/folder-active.png");
}

nav .folder-link {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .folder-link.active {
    font-weight: 700;
}


@media (max-width: 600px) {
    nav .folder-link {
        margin-bottom: 0;
    }
}

main {
    flex: 1;
    padding: 32px;
    border: var(--standard-border);
}

main .event {
    margin-bottom: 32px;
    border: var(--darker-border);
    /* FIXME don't know why I have to use content-box here */
    box-sizing: content-box;
    width: 400px;
}

main .event:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 600px) {
    main .event {
        width: 100%;
    }
}

main .event .event-header {
    display: flex;
    align-items: center;
    border: var(--darker-border);
    padding: 0 8px;
}

main .event .event-header h3 {
    flex: 1;
}

main .event .event-details {
    border: var(--darker-border);
}

main .event .event-details .event-picture {
    transition: filter 150ms ease;
    filter: grayscale(1);
    width: 400px;
    height: 225px;
}

@media (max-width: 600px) {
    main .event .event-details .event-picture {
        filter: grayscale(0);
        width: 100%;
        height: auto;
    }
}

main .event .event-details .event-picture:hover {
    filter: grayscale(0);
}

main .event .event-details p {
    margin: 8px;
}

main .event .event-facebook-image {
    width: 24px;
}

main button {
    padding: 8px;
    /* user border var? */
    border: solid 2px black;
    cursor: pointer;
    background-color: var(--light-gray);
}

@media (max-width: 600px) {
    main button {
        width: 100%;
    }
}

footer {
    display: flex;
    align-items: center;
    height: 40px;
    border: var(--standard-border);
    background-color: var(--light-gray);
}

footer .spacer {
    flex: 1;
}

footer .footer-link {
    margin-right: 16px;
}

.visitors {
    text-align: center;
}

/* Trippy effect */

@keyframes trip-out {
    from { box-shadow: 2px 2px 0px #F00; }
    25%   { box-shadow: -2px 2px 0px #0F0; }
    50%   { box-shadow: -2px -2px 0px #FF0; }
    75%   { box-shadow: 2px -2px 0px #00F; }
    to   { box-shadow: 2px 2px 0px #F00; }
}

.main-content {
    animation: 20s trip-out infinite;
}

@keyframes moving-border {
    from { box-shadow: 2px 2px 0px; }
    25%   { box-shadow: -2px 2px 0px; }
    50%   { box-shadow: -2px -2px 0px; }
    75%   { box-shadow: 2px -2px 0px; }
    to   { box-shadow: 2px 2px 0px; }
}

.artist-image-wrapper {
    animation: 20s moving-border infinite;
}

.bio-image {
    animation: 20s moving-border infinite;
}